{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-start">Symbol</th>
                    <th class="text-end">Shares</th>
                    <th class="text-end">Price</th>
                    <th class="text-end">Transacted</th>
                </tr>
            </thead>
           <tbody>
                {% for row in data %}
                <tr>
                    <th class="text-start">{{ row['symbol'] }}</th>
                    <th class="text-end">{{ row['shares'] }}</th>
                    <th class="text-end">{{ row['price'] }}</th>
                    <th class="text-end">{{ row['date'] }}</th>
                </tr>
                {% endfor %}
           </tbody>
        </table>
{% endblock %}
