{% extends "layout.html" %}

{% block title %}
    Appointment List
{% endblock %}

{% block main %}
    <h1>Appointments</h1>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th class="text-end">Name</th>
                <th class="text-start">Date</th>
                <th class="text-end">Phone</th>
                <th class="text-end">Address</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment, user_name, user_phone in appointments %}
                <tr>
                    <td class="text-end">{{ user_name }}</td>
                    <td class="text-start">{{ appointment.date }}</td>
                    <td class="text-end">{{ user_phone }}</td>
                    <td class="text-end">{{ appointment.address }}</td>
                    <td>
                        <form action="/delete_appointment" method="post">
                            <input type="hidden" name="date" value="{{ appointment.date }}">
                            <input type="hidden" name="address" value="{{ appointment.address }}">
                            <button class="btn btn-dark" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>  
            {% endfor %}
        </tbody>
    </table>
{% endblock %}