{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">

        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="user_type" id="userTypeSelect">
                <option disabled="" selected="">User Type</option>
                <option value="Player">Player</option>
                <option value="Team">Team</option>
            </select>
        </div>

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="name" placeholder="name" type="text" required>
        </div>

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="phone" placeholder="phone" type="text" required>
        </div>

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="city" placeholder="city" type="text" required>
        </div>

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="password" type="password" required>
        </div>

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="confirm password" type="password" required>
        </div>

        <button class="btn btn-dark" type="submit">Register</button>
    </form>
{% endblock %}